@model Minutas.Models.Departamento

@{
    
    Layout = "_LayoutAdmin";
}

<form method="post" asp-action="Editar">
    <h3>Editar Departamento</h3>
    <div id="editar">
        <input type="hidden" name="Id" value="@Model.Id" /> 

        <label>Nombre</label>
        <input type="text" name="Nombre" placeholder="Escribir..." value="@Model.Nombre" required /><br>

        <label>Jefe de Departamento</label>
        <input type="number" name="IdJefe" placeholder="Escribir..." value="@Model.IdJefe" required /><br>

        <label>Miembros</label>
        <select name="IdDeptSuperior">
            @foreach (var u in Model.Usuarios)
            {
                <option value="@u.Id" @(u.Id == Model.IdDeptSuperior ? "selected" : "")>@u.Nombre</option>
            }
        </select><br>

        <label>Estado</label>
        <select name="Activo">
            <option value="true" @(Model.Activo == true ? "selected" : "")>Activo</option>
            <option value="false" @(Model.Activo == false ? "selected" : "")>Inactivo</option>
        </select><br>

        <input type="submit" value="Confirmar" />
        <a href="Index"><input type="button" value="Cancelar"></a>
    </div>
</form>